body {
    padding: 0;
    margin: 0;
    /* background: #f2f6e9; */
    font-family: 'Montserrat', sans-serif;
} 

.header {
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
    Introduction Title
*/
.intro {
    flex-grow: 2;
}

.title {
    font-size: 10em;
    /* color: white; */
    text-align: center;
    /* text-shadow: 5px 5px 20px black; */
}

.subtitle {
    font-size: 3em;
    /* color: white; */
    text-align: center;
    /* text-shadow: 5px 5px 20px black; */
}


/* 
    Main Content
*/

.section_title {
    font-size: 4em;
}

.section_content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}